<div id="wrapper">
  <!-- Main -->
  <div id="main">
    <div class="inner">
      <!-- wp:pattern {"slug":"alarius/alarius-header"} /-->

      <!-- Banner -->
      <section id="banner">
        <div class="content">
          <div class="container">
            <header>
              <!-- wp:post-title {"level":1} /-->
            </header>
            <!-- wp:post-content {"layout":{"inherit":true},"lock":{"move":false,"remove":true}} /-->
          </div>
        </div>
      </section>
    </div>
  </div>

  <!-- Sidebar -->
  <div id="sidebar">
    <div class="inner">
      <!-- Menu -->
      <nav id="menu">
        <header class="major">
          <h2>Menu</h2>
        </header>

        <!-- wp:navigation {"layout":{"type":"flex","setCascadingProperties":true,"justifyContent":"left"}, "align":"wide", "openSubmenusOnClick": true, "showSubmenuIcon": false, "style":"opener"} /-->
      </nav>

      <!-- wp:pattern {"slug":"alarius/alarius-footer"} /-->
    </div>
  </div>
</div>
